body, html {
    height: 100%;
    margin: 0;
}

header h2, header p {
    font-family: 'Questrial', sans-serif;
    color: rgb(223, 238, 18);
    padding: 20px 5px 5px 5px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(223, 238, 18);
    text-decoration: none;
}

.hero-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/brewpub-hero.jpg"); */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    animation: slideshow 10s ease-in-out infinite;
}

/* ****  SLIDESHOW ANIMATION **** */

@keyframes slideshow {
    0%, 100% {
        background-image: url("../images/brewpub-hero-gradient.jpg");
        
    }

    33% {
        background-image: url("../images/brewpub-hero2-gradient.jpg");
    }

    66% {
        background-image: url("../images/brewpub-hero-3-gradient.jpg");
    }
}



.hero-text {
    font-family: 'Questrial', sans-serif;
    color: white;
    font-size: 2rem;
    margin: 25vh auto;
    text-align: left;
    padding-left: 10vw;
    text-align: center;
}

.hero-text h2 {
    text-align: left;
}

#beer-section {
    background: rgb(222,191,19);
    background: linear-gradient(180deg, rgba(222,191,19,1) 0%, rgba(181,131,41,1) 50%, rgba(50,39,19,1) 83%, rgba(14,8,0,1) 100%);
}

.beer-title {
    text-align: center;
}

@media (min-width: 768px) {
    header h2 {
        font-size: 2.5rem;
    }

    nav a {
        font-size: 1.25rem;
    }

    .hero-text {
        padding-left: 0;
    }

    .hero-text h2 {
        font-size: 3.5rem;
        text-align: center;
    }

    #beer-section {
        background: rgb(222,191,19);
        background: linear-gradient(90deg, rgba(222,191,19,1) 0%, rgba(181,131,41,1) 50%, rgba(50,39,19,1) 83%, rgba(14,8,0,1) 100%);
    }
}

@media (min-width: 1024px) {
    header h2 {
        font-size: 3rem;
    }

    nav a {
        font-size: 1.5rem;
    }
}